.navbar {
  display: flex;
  justify-content: center;
  flex-shrink: 0;
}
  
  .navbar__list {
    list-style: none;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
  }
  
  .navbar__item {
    text-align: center;
    transition: font-size 0.3s ease, width 0.3s ease, height 0.3s ease;
  }
  
  .navbar__link {
    text-decoration: none;
    color:#666666;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    transition: font-size 0.3s ease;
    width: 100px;
    height: 50px;
    display: inline-block
  }

  .navbar__link:hover {
    color: #8000FF;
    font-size: 1.15rem;
    width: 100px;
    height: 50px;
  }