.box {
    height: 567px;
    width: 373px;
  }
  
  .box .rectangle {
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 2px 2px 100px #00000033;
    height: 567px;
    left: 0;
    position: fixed;
    top: 0;
    width: 373px;
  }